<h1><%= title %></h1>
<p><em><%= subtitle%></em></p>
<form id="login" name="login" method="post" action="http://localhost:4000/profile">
	<label for="username">Username</label>
	<input name="username" type="text"></input>
	<label for="password">Password</label>
	<input name="password" type="password"></input>
	<p>
		<input name="submit" type="submit"></input>
		<a href="/register">Register</a>
	</p?
</form>
